
@model IEnumerable<GTM.Models.MessageTbl>

@{
     
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }

<style>

    .toolbar {
        float: left;
    }
</style>
<head>

    <link rel="stylesheet" type="text/css" href="datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" type="text/css" href="datatables/Buttons-1.4.2/css/buttons.bootstrap4.min.css" />
</head>
<div class="wrapper">
    <div class="content-wrapper">

        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">

                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">SMS</a></li>
                            <li class="breadcrumb-item active"> List</li>
                        </ol>
                    </div>
                </div>
               </div><!-- /.container-fluid -->
        </section>


        <section class="content">
            <div class="container-fluid">
                <!-- COLOR PALETTE -->
                <div class="card card-default color-palette-box">
                    @*<div class="card-header">
                            <h3 class="card-title">
                                <i class="fas fa-tag"></i>
                                Color Palette
                            </h3>
                        </div>*@
                    <div class="card-body">

                        <table class="table table-striped table-bordered table-hover " style=" margin-top:0px">

                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Message</th>
                                </tr>
                            </thead>

                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr style="text-transform: uppercase" onclick="getEmployeeData('@item.MsgId')">
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FullName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Email)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Message)
                                        </td>

                                    </tr>
                                }

                            </tbody>
                        </table>

                    </div>
                    <!-- /.card-body -->
                </div>
            </div>


            <!-- START ALERTS AND CALLOUTS -->
            <h5 class="mt-4 mb-2">
                <a href="/Admin/Index">Back</a>
            </h5>
            <br />
        </section>
    </div>
</div>

    <!-- jQuery -->
<script src="~/Custom/admin/js/jquery.min.js"></script>

<!-- Bootstrap 4 -->
<script src="~/Custom/admin/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="~/Custom/admin/js/adminlte.min.js"></script>

@*@section Styles {*@
<link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" />
@*}

@section Scripts{*@
<script type="text/javascript" src="http://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {

            $('.table').DataTable({
                dom: '<"toolbar">Bfrtip',
                "searching": true,
                "pageLength": 50,
                "lengthChange": false,
                "scrollCollapse": true,

            });

            @*$("div.toolbar").html('<button class="btn btn-info" id="add-new-btn-id">Add New</button>');
            $('#add-new-btn-id').on('click', function () {

                location.href = '@Url.Action("CreateAds", "Admin")';
            })*@
        })
    </script>

    @*}*@

